<div class="bgd">
    <div class="container">
        <div class="row">
            <div class="card text-white bg-danger mb-3" data-aos="zoom-in-down" style="max-width: 32rem; max-height: 32rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">

                  <h3 class="card-text"><i class="fa-solid fa-mobile-screen"></i><br>  +91 8113048317</h3><br>
                  <h3 class="card-text"><i class="fa-solid fa-envelope"></i><br>  amenyu.av@gmail.com</h3><br>
                  <h3 class="card-text"><i class="fa-solid fa-location-dot"></i> <br> ABC Street, XYZ,India</h3>
                </div>
              </div>

        </div>

    </div>
  
   
</div>

