<div class="bgd">
    <div class="container">
        <div class="row">
            <div class="card text-white bg-warning mb-3 " data-aos="zoom-in-up" style="max-width: 32rem; max-height: 32rem;">
                <div class="card-header">About</div>
                <div class="card-body">

                  <p class="card-text">Design, develop and deliver IT products,
                     services and solutions that exceed client expectations in terms of quality,
                      functionality, delivery time and total cost of ownership, and thus to become 
                      the partner of choice for our clients in the Information and Communication 
                      Technology space. More specifically, our mission is to focus on areas where 
                      we excel within the Information and Communication Technology space and thus 
                      deliver better value for money.</p>
                </div>
            </div>
        </div>
    </div>   
</div>

