<div class= "bgd w3-container w3-center w3-animate-right" >
  <h2><i>Services</i></h2>
  <div class="container">
    <div class="row">
    
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-up">
        <img src="https://wallpaperaccess.com/full/2655983.jpg" class="card-img-top cover" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>IT consulting</b></h5>
          <p class="card-text"> IT consulting focuses on advising businesses on how best to use information technology to meet their business objectives and organizational goals.</p>
        </div>
      </div>
    
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-up">
        <img src="https://wallpaperaccess.com/full/4458178.jpg" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Product Engineering</b></h5>
          <p class="card-text">Product engineering  is about successfully translating a product vision into reality.excellence in technology and engineering processes helps to achieve that.</p>
        </div>
      </div>
    
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-up">
        <img src="https://wallpapercave.com/wp/wp6626589.png" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Application Development</b></h5>
          <p class="card-text">offers custom software application development as well as customization of commercially-off-the-shelf (COTS) products.</p>
        </div>
      </div>
    
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-up">
        <img src="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxOTY2ODM3fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Web Development</b></h5>
          <p class="card-text">With cloud computing, mobile and social networking, consumers are empowered with a lot of tools for communication and collaboration.</p>
        </div>
      </div>

      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-down">
        <img src="https://thumbs.dreamstime.com/b/software-testing-internet-business-technology-concept-143071525.jpg" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Software Testing</b></h5>
          <p class="card-text">Dedicated software testing service providers is the best option to ensure you have a quality product and can make it to the market in time.</p>
        </div>
      </div>
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-down">
        <img src="https://st2.depositphotos.com/1518767/5392/i/950/depositphotos_53921575-stock-photo-call-center-computers-and-headsets.jpg" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Support & Maintenance</b></h5>
          <p class="card-text">Identify problems, evolve alternative solutions, implement changes and provide on-going support to enterprises on-site and off-site.</p>
        </div>
      </div>
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-down">
        <img src="https://wallpapercave.com/wp/wp2347580.jpg" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Database Design</b></h5>
          <p class="card-text">A database management system gives meaning to this data by converting it to valuable information that the end user understands.</p>
        </div>
      </div>
      <div class="card text-white bg-dark" style="width: 18rem;" data-aos="fade-down"> 
        <img src="https://www.constructionworld.in/assets/uploads/01ce752130e880686a1757b78560f0d3.jpg" class="card-img-top" alt="Not Found">
        <div class="card-body">
          <h5 class="card-title"><b>Networking</b></h5>
          <p class="card-text">Allowing administrators to have unprecedented visibility into the performance of the network and the various devices and applications running on it</p>
        </div>
      </div>
    
    </div>
  </div>
</div>

<app-testimony></app-testimony>
